<div ng-controller="ventas">
    <div class="pull-right">
        <a href="#/ventas/nuevo" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nueva Venta</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Folio</th>
            <th>Clave Cliente</th>
            <th>Nombre</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Estatus</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="venta in ventas">
            <td>{{venta.folio}}</td>
            <td>{{venta.cliente.cve}}</td>
            <td>{{venta.cliente.nombre}}</td>
            <td>{{venta.total}}</td>
            <td>{{venta.fecha}}</td>
            <td>{{venta.estatus}}</td>
            <td><a href="#/ventas/ver/{{venta.folio}}" class="btn btn-primary btn-xs">Ver</a></td>
        </tr>
        </tbody>
    </table>
</div>